h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25px;
}
.head, 
.left-arm, 
.turso, 
.right-arm, 
.left-foot, 
.right-foot {
    background: rgb(84, 136, 230);
}
.robot-head {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;    
}

.head {
    width: 150px;
    height: 115px;
    margin-bottom: 8px;
    border-radius: 100px 100px 0 0;
    display: flex;
}
.head:hover {
    width: 225px;
    border-radius: 200px 200px 0 0;
    transition: 1s ease-in-out;
}

.left-eye, .right-eye {
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: relative;
    top: 80px;
    left: 30px;
    border-radius: 10px;
}

.upper-body {
    display: flex;
    justify-content: center;
}

.left-eye {
    margin-right: 60px;
}

.left-arm, .right-arm {
    width: 30px;
    height: 100px;
    margin: 0 8px;
    border-radius: 20px;
}

.turso {
    width: 150px;
    height: 150px;
    border-radius: 0 0 40px 40px;
}

.foot {
    display: flex;
    justify-content: center;
}

.left-foot, .right-foot {
    width: 30px;
    height: 100px;
    position: relative;
    top: -55px;
    margin: 15px;
    border-radius: 20px;
}

.left-foot:hover {
    transform: rotate(30deg);
    transition: .3s;
}
